div.book 
{
    border:1px solid black;
    margin-bottom:10px;
    padding:5px;
    background-color:#F5F6CE;
}

div.book .description
{
    display:inline-block;
    font-weight:bold;
    width:100px;
}

div.book .value
{
    display:inline-block;
}

div.book .action
{
    padding: 10px 60px;
}