@{
    Layout = "_CustomerLayout.cshtml";
}

<h2>Action 2</h2>

<p>
    <div>Below link does not have any style</div>
    @Html.ActionLink("<< Back", "Index")
</p>
<p>
    <div>This button has no action handler</div>
    <button>Just a button</button>
</p>