@{
    Layout = "_CustomerLayout.cshtml";
}

<h2>Action 3</h2>

<div>
    Below link has style which is defined in <b>~/Content/Action3.css</b><br />
    (We included it by using UsingStyles attribute in the CustomerController)
</div>
@Html.ActionLink("<< Back", "Index")