@{
    ViewBag.Title = "Customer Index Page";
    Layout = "_CustomerLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

Menu:
<ul>
    <li>@Html.ActionLink("Goto Action 1", "Action1")</li>
    <li>@Html.ActionLink("Goto Action 2", "Action2")</li>
    <li>@Html.ActionLink("Goto Action 3", "Action3")</li>
</ul>